body {
    text-align: center;
    line-height:1;
}

h1 {
    background-color: #AAAAAA;
    font-weight: 200;
    font-size: 40px;
    color: #ff0000;
    margin-bottom: 15px;
    display:block;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

a:visited {

    color: blue;

}

a:link {
    text-decoration: none;
}

p {
    margin-left: 12.5%;
    margin-right: 12.5%;
    margin-top: 0;
    margin-bottom: 0;
    width: 75%;
    padding: 1em;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

ul {
    text-align: left;
    list-style: none;
}

table {
    margin:0;
    padding:0;
    border: 1px solid black;
    border-collapse: separate;
    outline:0;
    text-align:left;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

th {
    margin:0;
    padding:0;
    border: 1px solid black;
    border-collapse: separate;
    outline:0;
    font-weight: 200;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;

}

td {
    margin:0;
    padding:0;
    border: 1px solid black;
    border-collapse: separate;
    outline:0;
    font-weight: 500;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;

}

header, nav {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;

}


footer {
    background-color: aliceblue;
    color: green;
    font-family: sans-serif;
    font-size: 30px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    display:block;
}

nav {
    text-transform: uppercase;
}

.info {
    margin-top: 0;
}

.pojemnik {
    position:relative;
    display: inline;
    margin: 20px;
}

.airport {
    display: inline-block;
    width:500px;
    height: auto;
    margin: 21px;
    background-color: #e6ce19;
    position: relative;
}

.photo {
    display: block;
    margin-top: 25px;
    width:100%;
    height: 400px;
    
}

.forecast {
    margin-left: 40px;
    width:400px;
    font-weight: 700;
    font-size: 22;
    margin-bottom: 5px;
    display: inline-block;
}

.forecastval {
    display: inline-block;
    margin-left: 40px;
    width:400px;
    color: #ff0000;
    font-size: 22;
    margin-top: 0px;
}

#logo {
    width:350px;
    display:block;
}

#odwołany {
    background-color: #f58585;
}

#zolw {
    background-color: rgb(255, 251, 0)
}

#slimak {
    background-color: #ff5e00;
}

#linkdopodstrony {
    z-index: 2;
}

@media screen and (min-width: 1030px) {
    main {
        max-width: 1030px;
    }
}

@media screen and (max-width: 1030px) {
    #menu {
        align-self: flex-start;
    }

    #logo {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    main {
        display:block;
        flex-direction: unset;
    }
    article {
        display: block;
    }
    .hidemobile, .photo, .forecast, .forecastval {
        display: none;
        
    }

    .airport, .pojemnik, footer
    {
        width: auto;
        display: block;
        margin: auto;
    }

}